<igx-tree class="tree">
  <igx-tree-node [expanded]="true">
    <igx-tree-node [expanded]="true">
      Figma
    </igx-tree-node>
    <igx-tree-node [expanded]="true">
      Adobe XD
    </igx-tree-node>
    Design
  </igx-tree-node>
  <igx-tree-node [expanded]="true">
    <igx-tree-node [expanded]="true">
      Angular
    </igx-tree-node>
    <igx-tree-node [expanded]="true">
      Blazor
    </igx-tree-node>
    <igx-tree-node [expanded]="true">
      Web components
    </igx-tree-node>
    Development
  </igx-tree-node>
</igx-tree>
<igx-tree class="tree">
  <igx-tree-node [expanded]="true">
    <igx-tree-node [expanded]="true">
      Figma
    </igx-tree-node>
    <igx-tree-node [expanded]="true">
      Adobe XD
    </igx-tree-node>
    <igx-tree-node [expanded]="true">
      Sketch
    </igx-tree-node>
    Design
  </igx-tree-node>
  <igx-tree-node [expanded]="true">
    <igx-tree-node [expanded]="true">
      Sketch
    </igx-tree-node>
    Sketch
  </igx-tree-node>
  <igx-tree-node [expanded]="true">
    <igx-tree-node [expanded]="true">
      Angular
    </igx-tree-node>
    <igx-tree-node [expanded]="true">
      Blazor
    </igx-tree-node>
    <igx-tree-node [expanded]="true">
      Web components
    </igx-tree-node>
    Development
  </igx-tree-node>
</igx-tree>
